<!DOCTYPE html>
<html>
  <head>
    <title>User Dashboard</title>
  </head>
  <body>
    <h1>Welcome <%= user.name %></h1>
    <p>Your email address is <%= user.email %> and your role is <%= user.role %>.</p>
    <a href="/logout">Logout</a>
  </body>
</html>
